#login_container {
    max-height: 100vh;
  }
  
#hero_login {
    background-color: #375792;
    width: 70%;
    height: 100vh;
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
        overflow: hidden;
        background-size: cover;
        background-position: center;
        background-image: url('../../Assets/Images/hero-auth.svg');
  }
  
  
  
 #login_form {
    padding: 5% 3%;
    width: 30%;
    height: 100vh;
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    max-height: 100vh;
  }

  .form{
      margin-top: 15vh;
  }

  .login_button{
      background-color: #375792;
  }